<html>
    <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    </head>
    <body> 
        <div class="offset-by-four one-third columns">   
            <h1>Hello, World!</h1>
            <p style="margin-top: -35px;">
                <%= Practice:: VERSION %>
            </p>
        </div>
    </body>
</html>
